.logo {
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .logo {
        height: 64px;
        vertical-align: middle;
    }
}

@media (max-width: 440px) {
    .logo__image {
        margin-right: 28px;
    }
}