.footer {
    background-color: #F8FAFF;
}

.section {
    width: 145px;
    margin-right: 48px;
}

@media (max-width: 1200px) {
    .section {
        margin-right: 0;
    }
}

.footer__wrapper {
    width: 88%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 84px;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    .footer__wrapper {
        gap: 0;
        row-gap: 30px;
        justify-content: space-between;
        padding-top: 39px;
        width: 90%;
    }
}

.about__title,
.section__header {
    color: #1D253C;
    font-family: "Intro";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 27px;
    position: relative;
}

@media (max-width: 600px) {
    .about__description {
        padding-left: 59px;
    }
}

.section__header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #C2D2F4;
    bottom: -11px;
    left: 0;
}

.social__list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 16px;
    justify-content: center;
}

@media (max-width: 600px) {
    .social__list {
        margin: 0;
        gap: 0;
        justify-content: space-around;
    }
}

.social__link {
    display: block;
    width: 40px;
    height: 40px;
}

.social__link--facebook {
    background-image: url("../../../assets/images/Facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social__link--vk {
    background-image: url("../../../assets/images/VK.svg");
    background-position: center;
}

.social__link--youtube {
    background-image: url("../../../assets/images/Youtube.svg");
    background-position: center;
}

.social__link--instagram {
    background-image: url("../../../assets/images/Instagram.svg");
    background-position: center;
}

.about__description {
    margin: 0;
    position: relative;
    color: #1d253c6b;
    font-family: "Intro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.about__description::before {
    position: absolute;
    content: "";
    background-image: url("../../../assets/images/location-about.svg");
    width: 44px;
    height: 46px;
    left: -56px;
}

@media (max-width: 600px) {
    .about__description::before {
        left: 0;
    }
}

.address__location {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 58px;
}

@media (max-width: 600px) {
    .address__location {
        margin-bottom: 14px;
    }
}

@media (max-width: 446px) {
    .address__section br {
        display: none;
    }
}

.footer__divider-wrapper {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 600px) {
    .footer__divider-wrapper {
        order: 2;
        margin-top: 23px;
    }
}

.footer__divider {
    color: #C2D2F4;
    font-family: "Intro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    position: relative;
    background-color: #F8FAFF;
    padding-left: 7px;
    padding-right: 7px;
    margin: 0;

    z-index: 2;
}

.footer__divider::after {
    content: "";
    position: absolute;
    width: 85vw;
    height: 2px;

    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    background-color: #C2D2F4;

    z-index: -1;
}